<template>
  <div class="home">
    <button @click="loadPosts">Load Posts</button>
    <ul v-if="users">
      <li v-for="user in users" :key="user.id">
        <h3>({{ user.id }}) {{ user.name }}-{{ user.username }}</h3>
        <p>
          Phone:{{ user.phone }}
          <br />
          Website: {{ user.ebsite }}
          <br />
          City:{{ user.address.city }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [],
    };
  },
  methods: {
    loadPosts() {
      fetch("https://jsonplaceholder.typicode.com/users")
        .then((response) => response.json())
        .then((json) => (this.users = json));
    },
  },
};
</script>
